/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */
::selection {
  color: rgb(126, 118, 118);
  background: rgb(204, 204, 204);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}
.wrapper::before {
  content: url("../img/back-icon/home-1.svg");
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}

.wrapper-rest {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}
.wrapper-rest::before {
  content: url("../img/back-icon/rest.png");
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}

.container {
  margin: 0 auto;
  padding: 18px 18px;
  max-width: 1260px;
}

.section__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.section__head h2 {
  color: rgb(59, 102, 141);
  font-family: Roboto;
  font-size: 72px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 40.5%;
  text-transform: uppercase;
}
.section__head p {
  color: rgb(59, 102, 141);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 90.5%;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s;
  opacity: 0;
}

.overlay--active {
  opacity: 1;
}

/* ============================== HEADER ============================== */
/* ============================== HEADER ============================== */
.header {
  position: relative;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header_top-logo a {
  color: white;
  font-family: Comfortaa;
  font-size: 42px;
  font-weight: 700;
  line-height: 40px;
}

.header_top-register a {
  color: rgb(187, 109, 243);
  font-family: Comfortaa;
  font-size: 13.42px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 21px;
  background: rgb(255, 255, 255);
}

.header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left-headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 32px;
  margin-bottom: 45px;
  border-bottom: 2px solid rgb(59, 102, 141);
}
.header_left-headline h1 {
  color: rgb(59, 102, 141);
  font-family: Roboto;
  font-size: 72px;
  font-weight: 900;
  line-height: 70px;
}
.header_left-headline span {
  color: rgb(59, 102, 141);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 90.5%;
}

.header_left-description {
  margin-bottom: 27px;
}
.header_left-description h2 {
  color: rgb(59, 102, 141);
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 156%;
}
.header_left-description p {
  color: rgb(43, 73, 100);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  letter-spacing: 7.5%;
}

.header_left-button button {
  border-radius: 62px;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, rgb(67, 161, 214), rgb(144, 126, 255) 100%);
  color: rgb(255, 255, 255);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  padding: 20px 40px;
}

.header_body-right img {
  max-width: 750px;
}

/* ============================== MAIN ============================== */
/* ============================== MAIN ============================== */
/* ============================== FEATURES ============================== */
/* ============================== FEATURES ============================== */
.main {
  margin-top: 40px;
}

.features--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featires-left img {
  width: 600px;
}

.features_right-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features_right-item {
  display: flex;
  gap: 25px;
}

.features_right-img img {
  width: 80px;
}

.features_right-link h3 {
  text-transform: uppercase;
  color: rgb(59, 102, 141);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
}
.features_right-link p {
  color: rgb(43, 73, 100);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

/* ============================== PRICE ============================== */
/* ============================== PRICE ============================== */
.price {
  margin-top: 70px;
}

.price__body {
  margin-top: 30px;
}

.price__body-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.price__body-item {
  width: 100%;
  padding: 24px 32px;
  border-radius: 32px;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.price__body-name {
  display: flex;
  justify-content: space-between;
}
.price__body-name h3 {
  color: rgb(59, 102, 141);
  font-family: Comfortaa;
  font-size: 32px;
  font-weight: 700;
  line-height: 54px;
}
.price__body-name img {
  transform: rotate(180deg);
  width: 50px;
  transition: all 0.3s;
  user-select: none;
}

.price__body-link {
  display: none;
  flex-direction: column;
  gap: 20px;
  transition: all 0.5s, margin-top 0.6s, opacity 0.6s;
  margin-top: 0;
  opacity: 0;
  height: 0;
}
.price__body-link h4 {
  color: rgb(133, 114, 255);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 400;
}
.price__body-link p {
  color: rgb(86, 119, 150);
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}
.price__body-link span {
  font-weight: 800;
}

.price__body-name--active img {
  transform: rotate(0deg);
}

.price__body-link--active {
  margin-top: 20px;
  opacity: 1;
  height: 100%;
}

/* ============================== FAQ ============================== */
/* ============================== FAQ ============================== */
.faq {
  margin-top: 70px;
}

.faq__accord-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq__accord-item {
  position: relative;
  cursor: pointer;
  padding: 21px 38px;
}
.faq__accord-item::after {
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0;
  background: linear-gradient(90deg, rgb(178, 228, 255), rgb(223, 191, 255) 100%);
  opacity: 0.3;
}

.faq__accord-list li:first-of-type::after {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.faq__accord-list li:last-of-type::after {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.faq__accord-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq__accord-name h3 {
  color: rgb(70, 99, 126);
  font-family: Comfortaa;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
}

.plusminus {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.plusminus.active:before {
  transform: translatey(-50%) rotate(-90deg);
  opacity: 0;
}
.plusminus.active:after {
  transform: translatey(-50%) rotate(0);
}
.plusminus:before, .plusminus:after {
  content: "";
  display: block;
  background: linear-gradient(90deg, rgb(67, 161, 214), rgb(144, 126, 255) 100%);
  position: absolute;
  top: 50%;
  left: 0;
  transition: 0.35s;
  width: 100%;
  height: 3px;
}
.plusminus:before {
  transform: translatey(-50%);
}
.plusminus:after {
  transform: translatey(-50%) rotate(90deg);
}

.faq__accord-link {
  display: flex;
  transition: all 0.3s;
  opacity: 0;
  height: 0;
}
.faq__accord-link p {
  color: rgb(135, 135, 135);
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.faq__accord-link--active {
  opacity: 1;
  height: 100%;
  padding: 32px 0;
}

/* ============================== CONTACT ============================== */
/* ============================== CONTACT ============================== */
.contact {
  margin-top: 70px;
  position: relative;
  z-index: 10;
}
.contact::before {
  content: url("../img/back-icon/contact-1.svg");
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 0;
  margin-left: -5%;
}
.contact::after {
  content: url("../img/back-icon/contact-2.svg");
  position: absolute;
  z-index: -10;
  top: 50%;
  right: 0;
  margin-right: -5%;
}

.contact__head {
  margin-bottom: 30px;
}

.contact__map {
  margin-bottom: 70px;
}
.contact__map iframe {
  width: 100%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.contact__form-head {
  display: flex;
  justify-content: center;
}
.contact__form-head h3 {
  color: rgb(59, 102, 141);
  font-family: Comfortaa;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
}

.contact__form-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact__form-input textarea {
  color: rgb(173, 173, 173);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  border-radius: 50px;
  height: 220px;
  padding: 24px 32px;
  background: rgb(243, 243, 243);
}

.contact__form-item {
  display: flex;
  align-items: center;
  gap: 45px;
}
.contact__form-item h4 {
  color: rgb(59, 63, 141);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}
.contact__form-item input {
  color: rgb(173, 173, 173);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  border-radius: 61px;
  padding: 24px 32px;
  background: rgb(243, 243, 243);
}

.contact__form-button {
  display: flex;
  justify-content: end;
}
.contact__form-button button {
  color: rgb(255, 255, 255);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  border-radius: 62px;
  padding: 24px 32px;
  background: linear-gradient(90deg, rgb(67, 161, 214), rgb(144, 126, 255) 100%);
}

/* ============================== FOOTER ============================== */
/* ============================== FOOTER ============================== */
.footer {
  margin-top: 120px;
  position: relative;
  padding-top: 300px;
  background: url("../img/back-icon/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 100px;
}

.footer__top-about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__top-about h2 {
  color: hsl(0, 0%, 100%);
  font-family: Comfortaa;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
}
.footer__top-about p {
  color: rgb(255, 255, 255);
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}
.footer__top-about a {
  color: white;
  font-family: Comfortaa;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.footer__top-contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__top-contact h2 {
  color: rgb(255, 255, 255);
  font-family: Comfortaa;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
}

.footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contact-link {
  color: rgb(255, 255, 255);
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

/* ============================== REGISTER ============================== */
/* ============================== REGISTER ============================== */
.register-header {
  padding-bottom: 90px;
}

.register {
  margin-top: 80px;
  position: relative;
  z-index: 10;
}
.register::before {
  content: url("../img/back-icon/contact-1.svg");
  position: absolute;
  z-index: -10;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin-left: -5%;
}
.register::after {
  content: url("../img/back-icon/contact-2.svg");
  position: absolute;
  z-index: -10;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: -5%;
}

.register--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes switchRegister {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.register__head {
  display: none;
  transition: all 0.3s;
}

.register__head--acitve {
  display: flex;
}

.register__switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 120px;
  height: 60px;
  border: 2px solid rgb(59, 63, 141);
  border-radius: 36px;
  transition: all 0.3s;
}

.register__switch-link {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgb(67, 161, 214), rgb(144, 126, 255) 100%);
  transition: all 0.3s;
}

.register__switch-end {
  transform: translateX(115%);
}

.register__form {
  margin-top: 40px;
  display: none;
  transition: all 0.3s;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.register__form--active {
  display: flex;
}

.register__form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.register__form-item {
  position: relative;
}
.register__form-item span {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: -205px;
  transform: translateY(-50%);
  color: #3b3f8d;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  width: 160px;
}
.register__form-item input {
  color: rgb(173, 173, 173);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  border-radius: 61px;
  background: rgb(243, 243, 243);
  padding: 24px 32px;
}

.register__form-captcha {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}
.register__form-captcha span {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: -205px;
  transform: translateY(-50%);
  color: rgb(59, 63, 141);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  width: 160px;
}
.register__form-captcha input {
  color: rgb(173, 173, 173);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  border-radius: 61px;
  background: rgb(243, 243, 243);
  padding: 24px 32px;
  width: 170px;
}

.register__captcha-imgs {
  display: flex;
  align-items: center;
  gap: 15px;
}

#captcha {
  width: 150px;
  user-select: none;
}

#change-captcha {
  cursor: pointer;
  user-select: none;
  width: 30px;
}

.register__form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.register__form-button button {
  color: rgb(255, 255, 255);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  border-radius: 62px;
  padding: 24px 32px;
  background: linear-gradient(90deg, rgb(67, 161, 214), rgb(144, 126, 255) 100%);
}
.register__form-button a {
  color: rgb(173, 173, 173);
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.register__form-agree {
  display: flex;
  gap: 16px;
}
.register__form-agree input {
  width: 20px;
}
.register__form-agree span {
  color: rgb(173, 173, 173);
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.login__head {
  display: none;
  opacity: 0;
  transition: all 0.3s;
}

.login__head--active {
  display: flex;
}

.login__form {
  margin-top: 40px;
  display: none;
  transition: all 0.3s;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.login__form--active {
  display: flex;
}

/* ============================== PROFILE ============================== */
/* ============================== PROFILE ============================== */
.header_top-profile img {
  width: 80px;
  cursor: pointer;
}

.profile-files--inner {
  position: relative;
}

.profile-files__head {
  margin-bottom: 50px;
}

.profile-files__body {
  min-height: 400px;
  position: relative;
}

.profile-files__body-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 24px;
  place-items: center;
}

.profile-folder-item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.profile-folder-item .folders {
  width: 160px;
}
.profile-folder-item span {
  color: rgb(59, 63, 141);
  font-family: Comfortaa;
  font-size: 28px;
  font-weight: 700;
  line-height: 27px;
}

.profile-files__body-not-file {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  user-select: none;
  opacity: 0.5;
  padding: 50px 0;
}
.profile-files__body-not-file img {
  border-radius: 50%;
}
.profile-files__body-not-file span {
  color: rgb(59, 63, 141);
  font-family: Comfortaa;
  font-size: 38px;
  font-weight: 700;
  line-height: 27px;
}

.profile-files__body-not-file--active {
  display: flex;
}

.profile-files__button--inner {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 100px;
  aspect-ratio: 1/1;
}

.profile-files__body-creation-button {
  position: absolute;
  right: 2%;
  bottom: 2%;
  z-index: 100;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  user-select: none;
  background: linear-gradient(90deg, rgb(67, 161, 214), rgb(144, 126, 255) 100%);
  cursor: pointer;
  box-shadow: 4px 6px 6px 7px rgba(67, 161, 214, 0.2);
}
.profile-files__body-creation-button img {
  transition: all 0.5s ease-in-out;
}

.profile-files__creation-folder {
  position: absolute;
  bottom: 50%;
  right: 52%;
  transform: translate(50%, 50%);
  border-radius: 100%;
  width: 75px;
  aspect-ratio: 1/1;
  z-index: 90;
  user-select: none;
  background: linear-gradient(90deg, rgb(67, 161, 214), rgb(144, 126, 255) 100%);
  box-shadow: 4px 6px 6px 7px rgba(67, 161, 214, 0.2);
  cursor: pointer;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}

.creation-folder--active {
  bottom: 163%;
}

.profile-files__creation-file {
  position: absolute;
  bottom: 50%;
  right: 52%;
  transform: translate(50%, 50%);
  border-radius: 100%;
  width: 50px;
  aspect-ratio: 1/1;
  z-index: 80;
  user-select: none;
  background: linear-gradient(90deg, rgb(67, 161, 214), rgb(144, 126, 255) 100%);
  box-shadow: 4px 6px 6px 7px rgba(67, 161, 214, 0.2);
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.creation-file--active {
  bottom: 250%;
}

.plus--active {
  transform: rotate(225deg);
}

.context-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.context-menu-list li {
  padding: 8px 16px;
  cursor: pointer;
}

.context-menu-item a {
  color: rgb(59, 63, 141);
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: 700;
}

.context-menu-item:last-child a {
  color: red;
}

.modal-folder-name {
  flex-direction: column;
  gap: 16px;
  position: fixed;
  top: 18%;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 1001;
  background-color: #ffffff;
  padding: 42px 48px;
  border-radius: 24px;
  transition: all 0.3s;
  opacity: 0;
}
.modal-folder-name input {
  color: rgb(173, 173, 173);
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  border-radius: 62px;
  background: rgb(243, 243, 243);
  padding: 16px 28px;
}
.modal-folder-name button {
  color: rgb(255, 255, 255);
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  border-radius: 62px;
  padding: 16px 28px;
  background: linear-gradient(90deg, rgb(67, 161, 214), rgb(144, 126, 255) 100%);
}
.modal-folder-name img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  cursor: pointer;
}

.modal-folder-name--active {
  opacity: 1;
}

.modal-warn {
  flex-direction: column;
  gap: 16px;
  position: fixed;
  top: 32%;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 1001;
  background-color: #ffffff;
  padding: 42px 48px;
  border-radius: 24px;
  transition: all 0.3s;
  opacity: 0;
  border: 3px solid rgb(228, 46, 46);
}
.modal-warn span {
  color: rgb(228, 46, 46);
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}
.modal-warn img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  cursor: pointer;
}

.modal-warn--active {
  opacity: 1;
}

/* ============================== SETTINGS ============================== */
/* ============================== SETTINGS ============================== */
.profile-settings {
  display: none;
}

/*# sourceMappingURL=style.css.map */
