<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/assets/img/icon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Skybin</title>
</head>
<body>
    <div class="wrapper-rest">
        <div class="overlay" id="overlay" style="display: none;"></div>
        <div class="overlay" id="overlay-loader" style="display: none; z-index: 2147483647;"></div>
        
        <div class="cssload-thecube" id="loader" style="display: none;">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>

        <header class="register-header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-top">
                        <div class="header_top-logo">
                            <a href="/index.html">Skybin</a>
                        </div>
                        <button class="header_top-profile" id="settings-profile">
                            <img src="/assets/img/icon/person.svg" id="settings-profile-img" alt="percon">
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <main class="main">
            <section class="profile-files" id="profile-files">
                <div class="container">
                    <div class="profile-files--inner">
                        <div class="profile-files__head section__head">
                            <h2 id="section_name">Файлы</h2>
                            <p>Онлайн-хранилище</p>
                        </div>

                        <div class="profile-menu" id="profile-menu">
                            <div class="directory_map" id="directoryMap">
                                <span id="directoryMapSpan"></span>
                            </div>
    
                            <div class="search--inner" id="search--inner">
                                <input id="search__input" type="text" style="display: none;" placeholder="Search">
                                <button id="search__button">
                                    <img src="assets/img/icon/search.svg" alt="Search">
                                </button>
                            </div>
                        </div>

                        <div class="profile-files__body" id="section__body">
                            <div class="profile-files__body-not-file" id="not-files">
                                <img src="/assets/img/item/Cloud.PNG" alt="">
                                <span>Файлы отсутствуют</span>
                            </div>

                            <ul class="profile-files__body-list" id="files-list">
                            </ul>

                        </div>
                    </div>
                </div>
            </section>

            <section class="profile-settings" id="profile-settings" style="display: none;">
                <div class="container">
                    <div class="profile-settings--inner">
                        <div class="profile-settings__head section__head">
                            <h2>Настройки</h2>
                            <p>Онлайн-хранилище</p>
                        </div>
                        <div class="profile-settings__body">
                            <ul class="profile-settings__body-list">
                                <li class="profile-settings__body-link">
                                    <div class="profile-settings__link-img">
                                        <img src="/assets/img/icon/crown.svg" alt="Crown">
                                    </div>
                                    <div class="profile-settings__link-text">
                                        <p>ТИП АККАУНТА:</p>
                                        <span id="settings-type-account"></span>
                                    </div>
                                </li>
                                <li class="profile-settings__body-link">
                                    <div class="profile-settings__link-img">
                                        <img src="/assets/img/icon/calendar.svg" alt="Calendar">
                                    </div>
                                    <div class="profile-settings__link-text">
                                        <p>Осталось дней:</p>
                                        <span id="settings-days-left"></span>
                                    </div>
                                </li>
                                <li class="profile-settings__body-link">
                                    <div class="profile-settings__link-img">
                                        <img src="/assets/img/icon/database.svg" alt="Database">
                                    </div>
                                    <div class="profile-settings__link-text">
                                        <p>Сохраненных файлов:</p>
                                        <span id="settinds-amount-data"></span>
                                    </div>
                                </li>
                            </ul>

                            <div class="profile-settings__body-data">
                                <div class="profile-settings__data-item">
                                    <span>Ваше имя:</span>
                                    <div class="profile-settings__data-text">
                                        <p id="settings-text-name"></p>
                                        <button id="settings-name-pencil">
                                            <img src="/assets/img/icon/pencil.svg" alt="pencil">
                                        </button>
                                    </div>
                                    <form class="profile-settings__data-input" style="display: none;">
                                        <input type="text" name="name" id="settings-input-name">
                                        <button type="submit" id="settings-input-name-checkmark">
                                            <img src="/assets/img/icon/checkmark.svg" alt="">
                                        </button>
                                    </form>
                                </div>
                                <!-- ============================================ -->
                                <div class="profile-settings__data-item">
                                    <span>Ваш Email:</span>
                                    <div class="profile-settings__data-text">
                                        <p id="settings-text-email"></p>
                                        <button id="settings-email-pencil">
                                            <img src="/assets/img/icon/pencil.svg" alt="pencil">
                                        </button>
                                    </div>
                                    <form class="profile-settings__data-input" style="display: none;">
                                        <input type="text" name="email" id="settings-input-email">
                                        <button type="submit" id="settings-input-email-checkmark">
                                            <img src="/assets/img/icon/checkmark.svg" alt="">
                                        </button>
                                    </form>
                                </div>
                                <!-- ============================================ -->
                                <form class="profile-settings__body-chenge-password">
                                    <div class="profile-settings__chenge-password-item">
                                        <p>Старый пароль:</p>
                                        <input id="old-password" type="password" placeholder="Password" required>
                                    </div>
                                    <div class="profile-settings__chenge-password-item">
                                        <p>Новый пароль:</p>
                                        <input id="new-password" type="password" placeholder="Password" required>
                                    </div>
                                    <div class="profile-settings__chenge-password-item">
                                        <p>Пов. новый пароль:</p>
                                        <input id="re-new-password" type="password" placeholder="Password" required>
                                    </div>
                                    <div class="profile-settings__chenge-password-button">
                                        <button type="submit" id="change-password-button">Поменять пароль</button>
                                    </div>
                                </form>
                            </div>

                            <div class="profile-settings__body-buttons">
                                <button id="button-delete-account">Удалить аккаунт</button>
                                <a href="/api/logOutOfAccount">Выйти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <div class="profile-goback-button" id="goBackButtons">
            <div class="back__to__home" id="backToHome">
                <img src="/assets/img/icon/home.svg" alt="">
            </div>
            <div class="back__folder" id="backFolder">
                <img src="/assets/img/icon/arrow-back.svg" alt="Back folder">
            </div>
        </div>

        <div class="profile-files__button--inner" id="profileFilesButtons">
            <button class="profile-files__body-creation-button" id="creation-button">
                <img id="creation-button-plus" src="/assets/img/icon/add.svg" alt="File-add">
            </button>
            <button class="profile-files__creation-folder" id="creation-folder">
                <img src="/assets/img/icon/folder.svg" alt="folder">
            </button>
            <button class="profile-files__creation-file" id="creation-file">
                <img src="/assets/img/icon/document.svg" alt="">
                <input type="file" id="creation-file-input" style="display: none;" />
            </button>
        </div>

        <form class="modal-folder-name" id="modal-folder-name" style="display: none;">
            <input type="name" placeholder="Название папки" id="folder-name">
            <button type="submit" id="send-folder-name">Создать</button>
            <img class="close-modal" id="close-modal" src="/assets/img/icon/close.svg" alt="close">
        </form>

        <div class="modal-warn" id="modal-warn" style="display: none;">
            <span class="modal-warn-text" id="modal-warn-text"></span>
        </div>

        <div class="modal-alert" id="modal-alert" style="display: none;">
            <span class="modal-alert-text" id="modal-alert-text"></span>

            <ul class="modal-alert-list" id="modal-alert-list" style="display: none;"></ul>

            <form class="modal-alert-input" id="modal-alert-input-folder" style="display: none;">
                <input id="input-rename-folder" type="text" placeholder="Введите новое название">
                <button type="submit" id="input-rename-submit-folder">Переименовать</button>
            </form>

            <form class="modal-alert-input" id="modal-alert-input-file" style="display: none;">
                <input id="input-rename-file" type="text" placeholder="Введите новое название">
                <button type="submit" id="input-rename-submit-file">Переименовать</button>
            </form>

            <form class="modal-alert-input" id="modal-alert-password" style="display: none;">
                <input id="modal-alert-input-password" type="password" placeholder="******">
                <button type="submit" id="input-password-submit">Подтвердить</button>
            </form>

            <div class="modal-alert-access" id="modal-alert-access" style="display: none;">
                <div class="modal-alert-access-lock" id="modal-alert-access-lock">
                    <img src="/assets/img/icon/lock-closed.svg" alt="Lock">
                    <span>Закрыть доступ</span>
                </div>
                <div class="modal-alert-access-global" id="modal-alert-access-global">
                    <img src="/assets/img/icon/earth.svg" alt="Global">
                    <span>Предоставить общий доступ по ссылке</span>
                </div>
                <div class="modal-alert-access-link" id="modal-alert-access-link">
                    <img src="/assets/img/icon/checkmark.svg" alt="Сheckmark" id="modal-alert-access-link-checkmark" style="display: none;">
                    <img src="/assets/img/icon/link.svg" alt="Link" id="modal-alert-access-link-main">
                    <span id="modal-alert-access-link-span"></span>
                </div>
                <div class="modal-alert-access-forbidden" id="modal-alert-access-forbidden" style="display: none;">
                    <img src="/assets/img/icon/close-white.svg" alt="forbidden">
                    <span id="modal-alert-access-forbidden-span"></span>
                </div>
            </div>

            <div class="modal-alert-buttons" id="modal-alert-buttons" style="display: none;">
                <button id="modal-alert-button-yes">Да</button>
                <button id="modal-alert-button-no">Нет</button>
            </div>
        </div>

        <div class="context-menu-folder" id="context-menu-folder">
            <ul class="context-menu-list">
                <li class="context-menu-item"><a href="#" id="openFolder">Открыть</a></li>
                <li class="context-menu-item"><a href="#" id="renameFolder">Переименовать</a></li>
                <li class="context-menu-item"><a href="#" id="accessFolder">Общий доступ</a></li>
                <li class="context-menu-item"><a href="#" id="infoFolder">Информация</a></li>
                <li class="context-menu-item"><a href="#" id="deleteFolder">Удалить</a></li>
            </ul>
        </div>
        <div class="context-menu-file" id="context-menu-file">
            <ul class="context-menu-list">
                <li class="context-menu-item"><a href="#" id="downloadFile">Скачать</a></li>
                <li class="context-menu-item"><a href="#" id="renameFile">Переименовать</a></li>
                <li class="context-menu-item"><a href="#" id="infoFile">Информация</a></li>
                <li class="context-menu-item"><a href="#" id="deleteFile">Удалить</a></li>
            </ul>
        </div>
    </div>
</body>
<script src="/assets/js/profile.js"></script>
</html>