<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Cloudis</title>
</head>
<body>
    <div class="wrapper-rest">
        <div class="overlay" id="overlay" style="display: none;"></div>
        <header class="register-header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-top">
                        <div class="header_top-logo">
                            <a href="../../index.html">Cloudis</a>
                        </div>
                        <div class="header_top-profile">
                            <img src="../img/icon/person.svg" alt="percon">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="main">
            <section class="profile-files">
                <div class="container">
                    <div class="profile-files--inner">
                        <div class="profile-files__head section__head">
                            <h2>Файлы</h2>
                            <p>Онлайн-хранилище</p>
                        </div>
                        <div class="profile-files__body">
                            <div class="profile-files__body-not-file">
                                <img src="../img/item/Cloud.PNG" alt="">
                                <span>Файлы отсутствуют</span>
                            </div>

                            <ul class="profile-files__body-list" id="files">

                            </ul>

                            <div class="profile-files__body-creation-button" id="creation-button">
                                <img id="creation-button-plus" src="../img/icon/add.svg" alt="File-add">
                            </div>
                            <div class="profile-files__creation-folder" id="creation-folder">
                                <img src="../img/icon/folder.svg" alt="folder">
                            </div>
                            <div class="profile-files__creation-file" id="creation-file">
                                <img src="../img/icon/document.svg" alt="">
                                <input type="file" id="creation-file-input" style="display: none;" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="profile-settings">
                <div class="container">
                    <div class="profile-settings--inner">
                        <div class="profile-settings_head section__head">
                            <h2>Профиль</h2>
                            <p>Онлайн-хранилище</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- <footer class="footer">
            <div class="container">
                <div class="footer--inner">
                    <div class="footer__top">
                        <div class="footer__top-about">
                            <h2>О нас</h2>
                            <p>При использовании услуг Cloudis Вы можете передавать, хранить и/или делиться определенными данными, информацией, файлами и т. д. Во избежание сомнений, Вы сохраняете полное право собственности на Ваши данные, так же Я (Б. Даниил) не несу ответственности за Ваши данные. При использовании Cloudis Вы и любой другой пользователь соглашаетесь с тем что данный сайт является дипломной работой студента. Весь программный код и история разработки, а именно репозитории и коммиты Git доступны в открытом доступе на моем GitHub профиле.</p>
                            <a href="#" id="footer-title">Cloudis</a>
                        </div>
                        <div class="footer__top-contact">
                            <h2>Мои контакты</h2>
                            <ul class="footer__contact-list">
                                <li class="footer__contact-item">
                                    <a href="https://t.me/Morok1407" target="_blank" class="footer__contact-link">Мой телеграмм: Morok1407</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="https://github.com/Morok1407" target="_blank" class="footer__contact-link">Мой GitHub: Morok1407</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="tel:+7 (775) 591-95-40" class="footer__contact-link">Телефон: +7 (775) 591-95-40</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="mailto:bugaevdaniil1407@icloud.com" class="footer__contact-link">Email: bugaevdaniil1407@icloud.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer> -->

        <div class="modal-folder-name" id="modal-folder-name" style="display: none;">
            <input type="name" placeholder="Название папки" id="folder-name">
            <button id="send-folder-name">Создать</button>
            <img id="close-modal" src="../img/icon/close.svg" alt="close">
        </div>
    </div>
</body>
<script src="../js/profile.js"></script>
</html>