<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/assets/img/icon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Skybin</title>
</head>
<body>
    <div class="wrapper-rest">
        <div class="overlay" id="overlay" style="display: none;"></div>
        <div class="overlay" id="overlay-loader" style="display: none;"></div>
        
        <div class="cssload-thecube" id="loader" style="display: none;">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>

        <header class="register-header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-top">
                        <div class="header_top-logo">
                            <a href="/index.html">Skybin</a>
                        </div>
                        <div class="header_top-profile">
                            <img src="/assets/img/icon/person.svg" alt="percon">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="main">
            <section class="profile-files">
                <div class="container">
                    <div class="profile-files--inner">
                        <div class="profile-files__head section__head">
                            <h2 id="section_name">Файлы</h2>
                            <p>Онлайн-хранилище</p>
                        </div>

                        <div class="profile-menu">
                            <div class="directory_map" id="directoryMap">
                                <span id="directoryMapSpan"></span>
                            </div>
    
                            <div class="search--inner" id="search--inner">
                                <input id="search__input" type="text" style="display: none;">
                                <img id="search__button" src="assets/img/icon/search.svg" alt="Search">
                            </div>
                        </div>

                        <div class="profile-files__body">
                            <div class="profile-files__body-not-file" id="not-files">
                                <img src="/assets/img/item/Cloud.PNG" alt="">
                                <span>Файлы отсутствуют</span>
                            </div>

                            <ul class="profile-files__body-list" id="files-list">
                            </ul>

                        </div>
                    </div>
                </div>
            </section>

            <section class="profile-settings">
                <div class="container">
                    <div class="profile-settings--inner">
                        <div class="profile-settings_head section__head">
                            <h2>Профиль</h2>
                            <p>Онлайн-хранилище</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <div class="profile-goback-button" id="goBackButtons">
            <div class="back__to__home" id="backToHome">
                <img src="/assets/img/icon/home.svg" alt="">
            </div>
            <div class="back__folder" id="backFolder">
                <img src="/assets/img/icon/arrow-back.svg" alt="Back folder">
            </div>
        </div>

        <div class="profile-files__button--inner">
            <div class="profile-files__body-creation-button" id="creation-button">
                <img id="creation-button-plus" src="/assets/img/icon/add.svg" alt="File-add">
            </div>
            <div class="profile-files__creation-folder" id="creation-folder">
                <img src="/assets/img/icon/folder.svg" alt="folder">
            </div>
            <div class="profile-files__creation-file" id="creation-file">
                <img src="/assets/img/icon/document.svg" alt="">
                <input type="file" id="creation-file-input" style="display: none;" />
            </div>
        </div>

        <form class="modal-folder-name" id="modal-folder-name" style="display: none;">
            <input type="name" placeholder="Название папки" id="folder-name">
            <button type="submit" id="send-folder-name">Создать</button>
            <img class="close-modal" id="close-modal" src="/assets/img/icon/close.svg" alt="close">
        </form>

        <div class="modal-warn" id="modal-warn" style="display: none;">
            <span class="modal-warn-text" id="modal-warn-text"></span>
        </div>

        <div class="modal-alert" id="modal-alert" style="display: none;">
            <span class="modal-alert-text" id="modal-alert-text"></span>

            <ul class="modal-alert-list" id="modal-alert-list" style="display: none;"></ul>

            <form class="modal-alert-input" id="modal-alert-input-folder" style="display: none;">
                <input id="input-rename-folder" type="text" placeholder="Введите новое название">
                <button type="submit" id="input-rename-submit-folder">Переименовать</button>
            </form>

            <form class="modal-alert-input" id="modal-alert-input-file" style="display: none;">
                <input id="input-rename-file" type="text" placeholder="Введите новое название">
                <button type="submit" id="input-rename-submit-file">Переименовать</button>
            </form>

            <div class="modal-alert-access" id="modal-alert-access" style="display: none;">
                <div class="modal-alert-access-lock" id="modal-alert-access-lock">
                    <img src="/assets/img/icon/lock-closed.svg" alt="Lock">
                    <span>Закрыть доступ</span>
                </div>
                <div class="modal-alert-access-global" id="modal-alert-access-global">
                    <img src="/assets/img/icon/earth.svg" alt="Global">
                    <span>Предоставить общий доступ по ссылке</span>
                </div>
                <div class="modal-alert-access-link" id="modal-alert-access-link">
                    <img src="/assets/img/icon/link.svg" alt="Link">
                    <span id="modal-alert-access-link-span"></span>
                </div>
            </div>

            <div class="modal-alert-buttons" id="modal-alert-buttons" style="display: none;">
                <button id="modal-alert-button-yes">Да</button>
                <button id="modal-alert-button-no">Нет</button>
            </div>
        </div>

        <div class="context-menu-folder" id="context-menu-folder">
            <ul class="context-menu-list">
                <li class="context-menu-item"><a href="#" id="openFolder">Открыть</a></li>
                <li class="context-menu-item"><a href="#" id="renameFolder">Переименовать</a></li>
                <li class="context-menu-item"><a href="#" id="accessFolder">Общий доступ</a></li>
                <li class="context-menu-item"><a href="#" id="infoFolder">Информация</a></li>
                <li class="context-menu-item"><a href="#" id="deleteFolder">Удалить</a></li>
            </ul>
        </div>
        <div class="context-menu-file" id="context-menu-file">
            <ul class="context-menu-list">
                <li class="context-menu-item"><a href="#" id="downloadFile">Скачать</a></li>
                <li class="context-menu-item"><a href="#" id="renameFile">Переименовать</a></li>
                <li class="context-menu-item"><a href="#" id="infoFile">Информация</a></li>
                <li class="context-menu-item"><a href="#" id="deleteFile">Удалить</a></li>
            </ul>
        </div>
    </div>
</body>
<script src="/assets/js/profile.js"></script>
</html>