<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon/chevron-down.svg">
    <title>SKYBOX</title>
</head>
<body>
    <div class="wrapper">
        <header class="register-header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-top">
                        <div class="header_top-logo">
                            <a href="../../index.html">SKYBOX</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="register main-registre">
                <div class="container">
                    <div class="register--inner">
                        <div class="register__head register__head--acitve section__head" id="register-head">
                            <h2>Регистрация</h2>
                            <p>Онлайн-хранилище</p>
                        </div>
                        <div class="login__head section__head" id="login-head">
                            <h2>Вход</h2>
                            <p>Онлайн-хранилище</p>
                        </div>
                        <div class="register__switch" id="switch">
                            <div class="register__switch-link"></div>
                        </div>
                        <form class="register__form register__form--active" id="register-form">
                            <div class="register__form-input">
                                <div class="register__form-item">
                                    <span>Name</span>
                                    <input type="name" id="name" name="name" placeholder="Daniel" required>
                                </div>
                                <div class="register__form-item">
                                    <span>Email</span>
                                    <input type="email" id="email" name="email" placeholder="mail@example.com" required>
                                </div>
                                <div class="register__form-item">
                                    <span>Password</span>
                                    <input type="password" id="password" name="password" placeholder="********" required>
                                </div>
                                <div class="register__form-item">
                                    <span>Re-Password</span>
                                    <input type="password" id="re-password" name="password" placeholder="********" required>
                                </div>
                            </div>
                            <div class="register__form-captcha">
                                <span>captcha</span>
                                <div class="register__captcha-imgs">
                                    <img src="/api/captcha" alt="captcha" id="captcha">
                                    <img src="../img/icon/change.svg" alt="change" id="change-captcha">
                                </div>
                                <input type="captcha" id="captcha-response" name="captcha" placeholder="captcha" required>
                            </div>
                            <div class="register__form-button">
                                <button>Регистрация</button>
                            </div>
                            <div class="register__form-agree" required>
                                <input type="checkbox" required>
                                <span>Пользовательское соглашение</span>
                            </div>
                        </form>
                        <!-- ============================================ -->
                        <form class="login__form" id="login-form">
                            <div class="register__form-item">
                                <span>Email</span>
                                <input type="email" name="email" placeholder="mail@example.com" required>
                            </div>
                            <div class="register__form-item">
                                <span>Password</span>
                                <input type="password" name="password" placeholder="********" required>
                            </div>
                            <div class="register__form-button">
                                <button>Вход</button>
                                <a href="#">Забыли пароль</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="container">
                <div class="footer--inner">
                    <div class="footer__top">
                        <div class="footer__top-about">
                            <h2>О нас</h2>
                            <p>При использовании услуг SKYBOX Вы можете передавать, хранить и/или делиться определенными данными, информацией, файлами и т. д. Во избежание сомнений, Вы сохраняете полное право собственности на Ваши данные, так же Я (Б. Даниил) не несу ответственности за Ваши данные. При использовании SKYBOX Вы и любой другой пользователь соглашаетесь с тем что данный сайт является дипломной работой студента. Весь программный код и история разработки, а именно репозитории и коммиты Git доступны в открытом доступе на моем GitHub профиле.</p>
                            <a href="#" id="footer-title">SKYBOX</a>
                        </div>
                        <div class="footer__top-contact">
                            <h2>Мои контакты</h2>
                            <ul class="footer__contact-list">
                                <li class="footer__contact-item">
                                    <a href="https://t.me/Morok1407" target="_blank" class="footer__contact-link">Мой телеграмм: Morok1407</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="https://github.com/Morok1407" target="_blank" class="footer__contact-link">Мой GitHub: Morok1407</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="tel:+7 (775) 591-95-40" class="footer__contact-link">Телефон: +7 (775) 591-95-40</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="mailto:bugaevdaniil1407@icloud.com" class="footer__contact-link">Email: bugaevdaniil1407@icloud.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="../js/script.js"></script>
</html>